

body {
	margin: 0;
	padding: 0;
	color: #666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #85892e;
	background-image: url(../images/tooplate_body.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
#wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0 5px;

}
/*** Header ***/

#header {
	width: 100%;
	height: 100px;
}
#site_title { display: block;
	 margin: 0 auto;
	 width: 300px;
 }
#site_title a {
	display: block;
	 padding: 30px 0 0 0;
	 font-size: 23px;
	 color: powderblue;
	 text-align: center

 }
#site_title a span {
	display: block;
	 letter-spacing: 2px
 }

/*** Middle ***/

#navig {
	position:relative;
	width: 980px;
	padding: 100px 0 20px;
	margin-bottom: 45px;
	background: url(../images/tooplate_middle.png) repeat-y center
}

#navig span.middle_bottom {
   position: absolute;
	left: 0;
	bottom: -15px;
	width: 980px;
	height: 15px;
    background: url(../images/tooplate_middle_bottom.png)
}
#menu {
	position: absolute;
	padding: 9px 37px;
	top: 0;
	left: -37px;
	width: 980px;
	height: 48px;
	background: #0e0e0e;
	background: url(../images/menu.png) no-repeat
}
.navmenu{
}

	.navmenu ul{
		margin: 0;
		padding: 1px 10px 0;
		list-style-type: none;
	}
	.navmenu ul li{
		position: relative;
		display: inline;
		float: left;
	}

	/*Top level menu link items style*/
	.navmenu ul li a {
		display:block;
		margin: 0 5px;
		padding: 0 20px 0 15px;
		height: 37px;
		line-height: 37px;
		font-family: serif;
		color:#7DFFFD;
		text-align: center;
		text-decoration: none;
		font-weight: 500;
		font-size: 30px;
		margin-right: 1em;
		outline: none;
}
#nav a:hover{
    color:white;
    background-color: #0B7068;
    transform:scale(1.3);
}
a.active{
    color:white;
    background-color: #0B7068;
    transform:scale(1.1);
}


/*pictures*/



/* END OF PICTURES*/

#Kontakt{
	position:static;
	border:groove;
	border-style:double;
	border-color: powderblue;
	background-color:#F0FFFF;
	margin-top: 30px;
	padding: 10px;
}

img {
  vertical-align: middle;
}

.sliders {
	position: relative;
	width: 940px;
	height: 195px;
	padding: 0 20px;



}
.sliders li {
	font-size: 40px;
	color: #999;
	text-align: center;
	background-color: #eee;
	width: 195px;
	height: 195px;
	padding: 0 ;
	margin: 0 20px;
	display: block;
	float: left;

}
.sliders ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;

}
a.slider_nav_button {
	position: absolute;
	top: 80px;
	width: 25px;
	height: 35px;
	text-indent: -10000px;
	background-image: url(../images/tooplate_slider_nav_button.png);
	background-repeat: no-repeat;
}

.clearfix {
	float: none;
	clear: both;
}

/* Next & previous buttons */
a.prev {
	left: -50px;
	background-position: 0 0
}
a.next {
	right: -50px;
	background-position: -25px 0
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/*PICTURES css*/
.bild{
    float: left;
    width: 25%;
    padding: 10px;
}
.bild img {
    opacity: 0.8;
    cursor: pointer;
	width: 80%;
	height: 100%;

}
.bild img:hover {
    opacity: 1;
	transform: scale(1.2);
}
.pictures:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    position: relative;
    display: none;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
#tooplate_main {
	position: relative;
	width: 900px;
	padding: 20px 40px;
	padding-bottom: 10px;
	background: #fff;
}

#tooplate_main span.main_frame {
	position: absolute;
	left: 0px;
	width: 980px;
	height: 10px;
}
#tooplate_main span.main_top_frame {
	top: -10px;
	background: url(../images/tooplate_content_top.png)
}
#tooplate_main span.main_bottom_frame {
	bottom: -10px;
	background: url(../images/tooplate_content_bottom.png)
}
.link{
	font-family: serif;
	font-size: 20px;
}
a:hover{
	color: green;

}
.link a{
	text-decoration: none;
	transform: scale(1.7);
}
h1{
	font-family: serif;
}
#tooplate_footer {
	color: #333;
	padding: 40px 40px;

}
#tooplate_footer h4 { color: #000; margin-bottom: 20px }
#tooplate_footer a { color: #000 }

#tooplate_copyright {
	padding: 10px 40px;
	text-align: center;
	color: #333
}
