

body {
	margin: 0;
	padding: 0;
	color: #666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #85892e;
	background-image: url(images/tooplate_body.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
#wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0 5px;
}
/*** Header ***/

#header {
	width: 100%;
	height: 128px;
}
#site_title { display: block;
	 margin: 0 auto;
	 width: 300px;
 }
#site_title a {
	display: block;
	 padding: 30px 0 0 0;
	 font-size: 23px;
	 color: powderblue;
	 text-align: center

 }
#site_title a span {
	display: block;
	 letter-spacing: 6px
 }

/*** Middle ***/

#navig {
	position: relative;
	width: 980px;
	padding: 200px 0 20px;
	margin-bottom: 35px;
	background: url(images/tooplate_middle.png) repeat-y center
}

#navig span.middle_bottom {
	position: absolute;
	left: 0;
	bottom: -15px;
	width: 980px;
	height: 15px;
	background: url(images/tooplate_middle_bottom.png)
}
#menu {
	position: absolute;
	padding: 9px 37px;
	top: 0;
	left: -37px;
	width: 980px;
	height: 48px;
	background: #0e0e0e;
	background: url(images/menu.png) no-repeat
}
.navmenu{
	background-image: url(images/menu_bg.png);
	background-color: green;
}

	.navmenu ul{
		margin: 0;
		padding: 1px 10px 0;
		list-style-type: none;
	}
	.navmenu ul li{
		position: relative;
		display: inline;
		float: left;
	}

	/*Top level menu link items style*/
	.navmenu ul li a {
		display: block;
		margin: 0 5px;
		padding: 0 20px 0 15px;
		height: 37px;
		line-height: 37px;
		font-size: 20px;
		color: black;
		text-align: center;
		text-decoration: none;
		font-weight: 500;
		outline: none;
	}
#Kontaktlinks {
	position: absolute;
	width: 150px;
	top: 12px;
	right: 0;
}

#Kontaktlinks li {
	position: relative;
}

#Kontaktlinks li a {
	display: block;
	float: left;
	 margin-left: 5px;
 }

.sliders{
text-align: start;
float: none;
position: relative;
top: auto;
right: auto;
bottom: auto;
left: auto;
width: 940px;
height: 190px;
margin: 0px;
overflow: hidden;
display: block;
}
#slider{
	text-align: left;
	float: none;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 4700px;
	height: 195px;
}
#slider li{
font-size: 40px;
color: #999;
text-align: center;
background-color: #eee;
width: 195px;
height: 195px;
padding: 0;
margin: 0 20px;
display: block;
float: left;
}
#slider li img{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
